@charset "UTF-8";

body {
  font-size: 1.3em;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding-top: 1em;
}

nav.top-menu {
  padding: 1em;
  text-align: center;
}

nav.top-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav.top-menu ul li {
  margin: 0 1em;
}

nav.top-menu ul li a:hover,
nav.top-menu ul li a:focus {
  background-color: #ddd;
}

#bio {
  margin: 1.2em auto;
  max-width: 50%;
  text-align: justify;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0 4em;
}

.icons a {
  font-size: 1em;
  margin: 0.5em;
}

.projects {
  margin: 2em auto;
  max-width: 800px;
}

.projects .project {
  margin-bottom: 1.2em;
}

.projects .project h3 {
  margin: 0.5em 0;
}

.projects .project p.project-description {
  margin: 0.5em 0;
}

.projects .project .technologies {
  margin: 1em 0;
}

.projects .project .technologies span {
  display: inline-block;
  padding: 0.4em;
  border-radius: 1em;
  margin-right: 0.5em;
}

.projects .project .technologies span.ruby {
  background-color: #DC3545;
}

.projects .project .technologies span.html5 {
  background-color: #FF7C33;
}

.projects .project .technologies span.css3 {
  background-color: #33C2FF;
}
.projects .project .technologies span.javascript {
  background-color: #fbfe50;
}

.projects {
  margin: 2em auto;
  max-width: 800px;
}

.projects .project {
  margin-bottom: 1.2em;
}

.projects .project h3 {
  margin: 0.4em 0;
}

.projects .project-content {
  display: flex;
  align-items: center;
}

.projects .project-content p {
  margin: 0;
  flex-grow: 1;
}

.projects .project-content img {
  max-width: 13%;
  height: auto;
  margin-left: 1em;
  transition: transform 0.3s ease-in-out;
}

.projects .project-content img:hover {
  transform: scale(6);
}

#education,
#certificates,
#courses {
  margin: 2em auto;
  max-width: 800px;
}

footer {
  text-align: center;
  padding: 1em;
}

@media (max-width: 650px) {
  nav.top-menu {
    display: none;
  }
  .bio{
    font-size: 1em;
  }
  body {
    font-size: 1.1em;
    margin: 0;
  }
}

@media (max-width: 1000px) {
  body {
    margin: 0 1em;
    font-size: 1.2em;
  }
  #bio{
    font-size: 0.9em;
    margin: 0.7em auto;
    max-width: 82%;
  }
}
