/* REGRAS PARA PONTUAÇÃO */
@charset "UTF-8"; 

@font-face {
  font-family: 'Quattrocento Sans';
  src: url('fonts/QuattrocentoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

a {
  color: inherit;
}

body {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1.1em;
  text-align: center
}

i {
  padding: 0.5em;
  font-size: 2em;
}

article {
  float: left;
  width: 33.3%;
  /* display: inline-block; */
  /* margin: 0.3em; */
}

span {
  padding: 0.5em;
  font-size: 0.8em;
  border-radius: 1em;
  color: #FFFFFF;
  font-weight: bold;
}

.test {
  display: inline-block;
}

.text {
  /* width: 3%; */
  margin: 0.8em 10%;
}

.bio {
  font-size: 1.3em;
  margin: 5em 20% 0;
}

.icons {
  margin: 3em 0 3em;
}

.ruby {
  background-color: #DC3545;
}
.html5 {
  background-color: #FF7C33;
}
.css3 {
  background-color: #33C2FF;
}
.javascript {
  background-color: #E5D00B;
}

/* p {
  text-align: justify;
  text-align: center;
} */

img {
  box-shadow: 5px 5px 5px Gray;
}

@media (max-width: 500px) {
  img {
    display: none;
  }
  article {
    float: left;
    width: 100%;
  }
  span {
    font-size: 0.6em;
  }
  .bio {
    font-size: 1.1em;
    margin: 2.2em auto;
  }
  .icons {
    margin: 1em 0 1em;
  }
}

@media (max-width: 1200px) {
  article {
    float: left;
    width: 100%;
  }
}